*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #E6EEEE;
}


.sec1{
    padding-top: 5em;
    text-align: center;

}


.sec1_img{
    width: 15em;
    height: 15em;
    border-radius: 50%;
}


.sec3_h1,.sec2_h1{
    background-color: #4586F7;
    color: white;
    padding-top: 10px;

    padding-left: 30px;
    padding-bottom: 20px;

}

.sec2_p{
    font-size: 20px;
    text-align: justify-all;
}

.sec3_1{
    background-color: white;
    margin-bottom: 3em;
    padding-left: 2em;
    padding-top:5px;



}



.sec3_1 .row{
    padding-bottom: 30px;
    margin-top: 2em;
}

.sec3_1_p{
    font-size: 20px;
    text-decoration: none;
    color: black;
}


.sec4_1{


}

.sec4_1_img{
    width: 629px;
    height: 300px;

    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


.sec4_p{
    background-color: white;
    padding: 15px;
    font-size: 20px;
    }


/*@media screen and (max-width: 992px) {
  body {
    background-color: blue;
  }


  .sec4_1_img{
    width: 629px;
    height: 300px;
    width: 400px;

    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


}*/


/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  body {
  
  }
.sec4_1_img{
    width: 300px;
    margin-left: -20px;
}


}